header {
    /* background-color: cornflowerblue; */
    background-image: url("/static/MainApp/img/Freepik.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    margin: 0px 0px;
    padding-top: 10%;
    padding-bottom: 3%;
}

header img {
    width: 15%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: inset;
}

header h1 {
    font-family: "Raleway";
    font-size: 25pt;
    text-align: center;
    color: #ffcc00;
}

header p {
    /* background-color: #004298; */
    /* color: #018dfc; */
    color: #fff;
    display: block;
    font-family: "Roboto Condensed";
    margin-right: 30%;
    margin-left: 30%;
    text-align: center;
}

section {
    /* background-color: crimson; */
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 2%;
    padding-right: 2%;
}

section h2 {
    font-family: "Franklin Gothic";
    font-style: oblique;
    text-align: center;
}

section p {
    font-family: "Archivo";
    margin-left: 1cm;
    word-spacing: 2pt;
}

section ol {
    display: block;
    font-family: "Archivo";
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    word-spacing: 2pt;
    padding-left: 35%;
}

#ability li {
    float: left;
    list-style-type: none;
    margin: 10px 10px;
    text-align: center;
}

/* #education {background-color: cornsilk;} */

#education table {
    /* border: 2pt solid black; */
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2%;
    padding-top: 2%;
    width: 500px;
}

/* #education h2 {font-family: "Franklin Gothic"; font-style: oblique;} */

#education th {background-color: chocolate;}

#education .education_info {font-size: 9pt;}

/* #education p {font-family: "Archivo"; margin-left: 1cm; word-spacing: 2pt;} */

/* #working_experience {background-color: darkslateblue;} */

#working_experience table {
    /* border: 2pt solid black; */
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2%;
    padding-top: 2%;
    width: 500px;
}

/* #working_experience h2 {font-family: "Franklin Gothic"; font-style: oblique;} */

#working_experience th {background-color: deeppink;}

#working_experience .work_period {font-size: 9pt;}

#working_experience .job-desc {font-size: 10pt; font-family: "Archivo";}

/* #working_experience p {font-family: "Archivo"; margin-left: 1cm; word-spacing: 2pt;} */

/* #contact_me {background-color: gold;} */

#contact_me h2 {
    font-family: "Franklin Gothic";
    font-style: oblique;
    text-align: center;
}

#contact_me table {
    /* border: 2pt solid black; */
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2%;
    padding-left: 2%;
    width: 500px;
}

#contact_me td {
    text-align: center;
    width: 50px;
}

#contact_me .icon_wa, .icon_mail, .icon_in {
    height: 90px;
    width: 90px;
}

#about_me p {
    /* background-color: blue; */
    text-align: center;
}

section #contact_me {
    padding-bottom: 10pt;
}

footer {
    /* background-color: coral; */
    margin: 0px 0px;
    padding-top: 2%;
    padding-bottom: 4%;
}

footer p {
    text-align: center;
    font-family: "Raleway";
}

footer ul {
    list-style-type: none;
    text-align: center;
}

footer a {
    font-family: "Raleway";
    text-decoration: none;
}
